* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold !important;
}

.input-group {
  margin-bottom: 32px;
}

.input-group .label-diskon {
  margin-top: -10px;
} 

.input-group label .text-diskon {
  font-size: 14px;
  color: #FF6464;
}

.input-group label .text-value-diskon {
  font-size: 24px;
  color: #FF6464;
}


.card {
  border: none !important;
}

.card-detail {
  min-height: 445px !important;
  background: linear-gradient(to right,#FF8C8C, #FF6464);
  padding: 0 30px;
  color: white;
  
}

.row-mb {
  margin-bottom: 70px;
}

.card-detail p {
  font-size: 14px;
}

.card-detail hr {
  border: 1px solid white;
  opacity: .1;
}

.card-detail .text-wrapper {
  margin-bottom: -20px;
}

.price-column {
  margin-top: -16px;
}

.text-bold {
  font-weight: 700;
}

thead td {
  padding-bottom: 20px !important;
  padding-top: 10px !important;
}

thead .pink {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.table .pink {
  background-color: #FFF0F0 !important;
}

th, td {
  text-align: center;
  font-size: 18px;
}

tbody .border-row {
  border-bottom-width: 1px;
}


tbody .border-radius .pink {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-bottom: 30px;
}

.card-keuntungan {
  height: 268px;
  padding: 0 30px;
}

.card-keuntungan .text-total {
  font-size: 14px;
  color: #FF6464;
  margin-bottom: 4px;
}

.card-keuntungan .text-rp {
  font-size: 16px;
  color: #FF6464;
  font-weight: 700;
  margin-right: 10px;
  padding-bottom: 4px;
}

.card-keuntungan .text-price {
  font-size: 24px;
  color: #FF6464;
  font-weight: 700;
}

.card-keuntungan hr {
  border: 1px solid #FF6464;
}

.card-keuntungan .text-wrapper{
  color: #FF6464;
  font-size: 14px;
  margin-bottom: -20px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
